/* Här nedan kommer de faktiska stilarna för sidan med kommentarer */

/* 
 * Bodyns storlek är satt i reset delen för att täcka hela webbläsarfönstret, se
 * rad 23.
 * Bodyn får display: flex för att möjligöra en sticky footer längst ned på sidan
 * Genom att sätta en font på body elementet så används fonten på hela sidan.
 */
body {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    color: #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* För att göra footern sticky så har vi flex på bodyn och då räcker det med 
 * margin-top auto här.
 */
footer {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

/* göm audio, används för att preloada ljudet */
audio {
    display: none;
}

/* Alla strukturelement på sidan kommer att använda denna container för att skapa
 * en centrerad layout.
 * Layout styrs även här att fungera skapligt med olika devices.
 */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
@media (min-width: 36rem) {
    .container {
        max-width: 34rem;
    }
}
@media (min-width: 48rem) {
    .container {
        max-width: 44rem;
    }
}
@media (min-width: 62rem) {
    .container {
        max-width: 54rem;
    }
}
/* Här finns ett par regler för att responsivt anpassa designen på sidan. 
 * Vi gömmer headern på mobil för att spara plats och vänder på spelet så att 
 * knappen blir överst på sidan.
 */
@media (max-width: 36rem) {
   header {
       display: none;
   }
   .game-hud {
        flex-direction: column-reverse;
   }
   .game-controls {
       width: 100%;
       display: flex;
       justify-content: center;
   }
}
/* centrera bilden */
.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container > img {
    height: auto;
    max-height: 30vh;
}

.game {
    margin-top: 2rem;
}

/* flex och space between ordnar layouten för speldata och knappen på desktop */
.game-hud {
    display: flex;
    justify-content: space-between;
}

.game-currency {
    list-style: none;
    padding: 0;
}

/* för spelelementet används #id som selektor för att skapa css reglerna */
#game-button {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}

/* #msgbox är elementet som visar sidans toasts, popupmeddelanden
* fixed fungerar liknande absolute för att positionera element på ett fast ställe
* vi använder måttet vmin som skalas efter webbläsarens storlek
*/
#msgbox {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox > p {
    margin-bottom: 0.2rem;
    padding: 1rem;
}

/* de här klasserna används för att bestämma stilen på de olika storternas
 * meddelanden. Javascript används för att lägga till stilen på meddelandet
 */
.warning {
    background-color: palevioletred;
}

.success {
    background-color: mediumspringgreen;
}

.achievement {
    color: #121212;
    background-color: rebeccapurple;
}

/* dessa kort används för spelets uppgraderingar 
 * lägg märke till padding och margin för att ge elementen lite luft och 
 * skapa en mer lättläst struktur
 */
.card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #646464;
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
}

.card:hover {
    background-color: #dfdfdf;
}
/* klassen används på kortets titel, font-weight: 600 gör fonten fetare, en normal
 * font vikt är oftast 400
 */
.title {
    font-weight: 600;
}